.letter {
  margin-left: 315px;
}

.tel {
  margin-left: 45px;
}

.img {
  width: 270px;
  height: 260px;
}

.navigation_icon {
  display: flex;
  justify-content: space-evenly;
}

.container_icon {
  width: 44px;
  height: 44px;
  padding: 10px;
  top: 100px;
  left: 70px;
}

header {
  display: flex;
  width: 1600px;
  height: 80px;
  align-items: center;
  margin-left: 93px;
}

.Web, .studio {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196F3;
}

.studio {
  color: black;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.link {
  display: flex;
  margin-left: 93px;
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.text_note_two {
  color: #212121;
}

.info {
  margin-left: 14px;
  letter-spacing: 0.02em;
}

/*HOMEWORK30*/
.main_header {
  width: 1600px;
  height: 80px;
}

.navigation-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-item__special {
  font-family: Raleway;
  letter-spacing: 0.03em;
  text-align: left;
  list-style: none;
}
.navigation-item__list {
  list-style: none;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 93px;
}

span {
  color: #000;
}

.navigation-item__notice {
  list-style: none;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 12px;
}

.container_footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  margin-top: 50px;
  display: flex;
}

.Web_text {
  position: relative;
  margin-left: 216px;
  top: 40px;
}

.navigation_link {
  position: relative;
  top: 30px;
  left: 215px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}

.container_text {
  margin-left: 70px;
}

.web {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}

.studio {
  color: black;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.text_join {
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 100px;
  top: 72px;
  color: white;
}

.brend {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #444141;
  width: 44px;
  height: 44px;
}

.join {
  display: flex;
}

.background {
  position: relative;
}

input {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  left: 95px;
  top: 75px;
  width: 358px;
  height: 50px;
}

button {
  position: relative;
  left: 100px;
  top: 75px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

/*Homework30*/
.link_text .navigation_link {
  position: relative;
  top: 30px;
  left: 215px;
}
.link_text .navigation_link .background {
  position: relative;
  top: 75px;
  left: 70px;
}
.link_text .navigation_link input {
  position: relative;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

/*Homework30*/
.navigation_footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  margin-top: 50px;
  display: flex;
}

.navigation_text {
  position: relative;
  margin-left: 216px;
  top: 40px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.navigation_text__studio {
  color: black;
}

.navigation_notice {
  margin-left: 70px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  margin-top: 70px;
}
.navigation_notice__join {
  display: flex;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 60px;
  margin-top: 40px;
  color: white;
}

.brend {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #444141;
  width: 44px;
  height: 44px;
}
.brend__background {
  position: relative;
  top: 75px;
  left: 70px;
}

.container {
  display: flex;
  width: 1600px;
  height: 708px;
  background: #f5f4fa;
}

.f {
  width: 270px;
  height: 428px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  position: relative;
  left: -90px;
  margin-left: 30px;
  top: 186px;
}

.img {
  width: 270px;
  height: 260px;
}

.teem {
  position: relative;
  left: 668px;
  top: 70px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.design-text {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.text_street {
  position: relative;
  top: 55px;
  left: 215px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}

/*HOMEWORK30*/
.main_section {
  display: flex;
  width: 1600px;
  height: 708px;
  background: #f5f4fa;
}
.main_section__title {
  position: relative;
  left: 668px;
  top: 70px;
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
}

.navigation_section {
  width: 270px;
  height: 428px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  position: relative;
  left: -90px;
  margin-left: 30px;
  top: 186px;
}
.navigation_section__text {
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}
.navigation_section__design {
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.info {
  color: #757575;
}

.navigation-item {
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.navigation-item__list {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.navigation-item__notice {
  font-family: "Roboto";
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  line-height: 16px;
}

.main_section__title {
  font-family: "Roboto";
  color: #212121;
  font-weight: 700;
  font-size: 36px;
}

.navigation_section__text {
  color: #212121;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: "Roboto";
}

.navigation_section__design {
  color: #757575;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.navigation_text {
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.navigation_notice {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.navigation_notice__join {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

/*Homework31*/
/*header*/
.Web, .studio {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196F3;
}

.studio {
  color: black;
}

/*section*/
.text {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.text-design {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  font-weight: 400;
}

/*footer*/