$primaryFont:'Roboto';
$primaryWeight:500;
$primarySize:14px;
$primaryColor: #212121;

$secondaryWeight:700;
$secondarySize:16px;
$secondaryColor: #757575;
$secondaryline:16px;

$basicColor: #2196F3;
$basicSize:26px;
$basicline : 31px;

$plainSize : 36px;
$plainWeight:400;
