.space-photo {
    width: 450px;
    height: 120px;
  &__tablet {
width: 354px;
height: 120px;
  }
}
  .teem-photo {
    width: 450px;
    height: 460px;
  &__two {
width: 354px;
height: 374px;
  }
}
  .logo-photo {
    width: 210px;
    height: 92px;
 &__tablet {
width: 226px;
height: 92px;
 }
}
.tags {
    width: 354px;
    height: 294px;
}