.letter {
 margin-left: 315px;
     }
    .tel {
        margin-left:45px;
    }
    .img {
        width:270px;
        height: 260px;
    }
    .navigation_icon {
    display: flex;
    justify-content: space-evenly;
    }
    .container_icon {
        width: 44px;
        height: 44px;
        padding: 10px;
      
        top: 100px;
        left: 70px;
      }